#main-content {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  height: calc(100vh - 86px);
  
}
#game {
  grid-column: 6/ span 3;
  grid-row: 4/ span 2;
  z-index:10;
  padding : 10px;
  background-color: #ffa7a7;
}
#user-list {
  grid-column: 9 / span 3;
  grid-row: 1/ span 5;
  border-left: #ffa7a7 1px solid;
  overflow-y: scroll; 
  overflox-x: hidden;
}

#tasks {
  grid-column: 1/ span 8;
  grid-row: 1/ span 5;
  overflow-y: scroll; 
  overflox-x: hidden;
  z-index: 0;
  display:flex;
  flex-direction: row;
  justify-content: space-between; 
}

#user-list > header {
  background-color: #ffa7a7;
  border-bottom: #ffa7a7 solid 1px;
  color: white;
  padding: 5px;
}

#user-list > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#user-list > ul > li {
  border-bottom: #ffa7a7 solid 1px;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

ul#task-list {
  list-style: none;
/*  width:100%;*/
  display: block;

  margin: auto;
  margin-top: 10px;
}

#task-list .task {
  display: block;
  width: 80%;
  margin-bottom: 25px;
  
}

.task-header {
  background-color: red;
  height: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.task-content {
  border: red 1px solid;
  border-top: none;
  padding: 5px;
}

#task-form {
  display: flex;
  flex-direction:row;
}

#task-form input[type=text] {
  padding: 10px;
  border-radius: 0px;
  border: #ffa7a7 solid 1px;
  height :10px;
  display: block;
  width: 50%;
}

#task-form input[type=text]:focus{
  border-color: red;
}

#task-form input[type=submit]{
  padding: 10px;
  border-radius: 0px;
  border: none;
  background-color: red;
  display: block;
  color: white;
  font-size: 120%;
}

.challenge-button {
  background-color : #AAA;
  font-variant: small-caps;
  border : 1px solid #555;
  padding: 3px;
  font-size:80%;
  
}

.challenge-button:disabled {
  cursor: not-allowed;
  background-color: #CCC;
}

body { 
   color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
  
}
.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
}

.loginh1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 56px;
  font: 600 34px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}
input[type="checkbox"] {
  cursor: pointer;
  height: 16px;
  
  position: relative;
  width: 64px;
}
input[type="checkbox"]:checked + .toggle { background-position: 0 -16px }
input[type="checkbox"]:checked {
  left: 29px;
  width: 58px;
}
button, input[type=submit] {
  width:40px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #37a69b;
  background-image: linear-gradient(top,#3db0a6,#3111);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
}


.colomne {
  background: #34495E;
  color: #fff;
  border: 1px solid black;
  border-radius: .4em;
  overflow: hidden;
  margin: 1em 0;
  width: 350px;
  border-color: lighten(#34495E, 10%);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}