{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
{% if error_msg %}
<div class="error">
  {{ error_msg }}
</div>
{% endif %}

Register:

<form method="POST" action="/register">
    <label>Email: <input type="name" name="name" /></label>
    <label>Email: <input type="email" name="email" /></label>
    <label>Password: <input type="password" name="password" /></label>
    <label>Password: <input type="password" name="password2" /></label>
    <input type="submit" name="" value="Send" />
</form>
{% endblock %}